<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
	 <title>{% block title %}viberr{% endblock %}</title>
     {% load staticfiles %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse"...>
     <div class="container-fluid">
	 
	    <!-- Header -->
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
			    <span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				
		    <a class="navbar-brand" href="{% url 'music:index' %}">Viberr</a>
		</div>
		
		<!--Items -->
		<div class="collapse navbar-collapse" id="topNavBar">
		   <ul class="nav navbar-nav">
		      <li class="active">
			     <a href="{% url 'music:index' %}">
				     <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Albums
				  </a>
			  </li>
			  <li class="">
			     <a href="#">
				     <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Songs
				  </a>
			  </li>
           </ul>
		   
		   <form class="navbar-form navbar-left" role="search" method="get" action="#">
		       <div class="form-group">
			       <input type="text" class="form-control" name="q" value="">
			   </div>
			   <button type="submit" class="btn btn-default">Search</button>
		   </form>
		   
		   <ul class="nav navbar-nav navbar-right">
		       <li class="">
			     <a href="{% url 'music:album-add' %}">
				     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Alubam
				  </a>
			  </li>
			   <li class="">
			     <a href="#">
				     <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
				  </a>
			  </li>
		   
		   </ul>
        </div>		   
		
	  </div>
</nav>
{% block body %}
{% endblock %}

</body>
</html>